*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000;
}

body{
  background: #12203f;
  color: black;
  
}

.contenedor{
  width: 100%;
 
  margin: 10px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);

grid-template-areas: "header header header"
                     "contenido contenido sidebar"
                     "contenido contenido sidebar"
                     "widget-1 widget-2 widget-3"
                     "footer footer footer";

}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
  background: #fff;

}

.contenedor .header{
  background: #12203f;
  color:#fff;
  
  grid-area: header;

}
.contenedor .contenido{
  background: #12203f;
  color:#fff;
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area: contenido;
  
}

.razones{
  background: #ffcd48;
  text-align: left;
  padding-top: 50px;
  padding-left: 100px;
  justify-content: center;
  
}

.mujer{
  display: block;
  width: 50%;
  float: right;
  margin: auto;
}

.razones h2{
  font-size: 30px;
  color: #000;
}
.razones li{
  display: block;
  color: #000;
  list-style-type: none;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 2px;
}


.contenedor .sidebar{
  background: #faa43d;
  min-height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  grid-area: sidebar;
}

.contenedor .widget-1{
  background: #55a8fd;
  color: #fff;
  display: inline-block;
  grid-area: widget-1;

}

.contenedor .widget-2{
  background: #55a8fd;
  color: #fff;
  display: inline-block;
  grid-area: widget-2;
}

.contenedor .widget-3{
  background: #55a8fd;
  color: #fff;
  display: inline-block;
  grid-area: widget-3;
}

.article{
 text-align: center;
}

.tit{
  color: #e12c26;
  outline-color: #000;
}


.libro{
  padding: 10px;
  width: 80px;
  float: left;
}

.Inscribirme{
  width: 90%;
  height: 40px;
  padding-bottom: 10px;
  background: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.Inscribirme span{
  position: relative;
  z-index: 2;
}



.contenedor .footer{
 background: #12203e;
 color: #fff;

 grid-area: footer;
}



/*-------------------------*/
/*--------FOOTER-----------*/
/*-------------------------*/

.footercont{
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);

  grid-template-areas: "foot-1 foot-2 foot-4";
}

.footercont .foot-1{
  background: #55a8fd;
  color: #fff;
  text-align: center;
  display: grid;
  align-items: stretch;
  justify-content: center;
}

.footercont .foot-2{
  background: #55a8fd;
  color: #fff;
  text-align: center;
}

.Sedes{
  display: flex;
  justify-content: center;
  
}

.ListSedes{
  
  display: inline-block;
}

.foot-2 h3{
  padding: 10px;
}

.foot-2 ul{
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.footercont .foot-4{
  background: #55a8fd;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.list{
  display: flex;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

.foot-4 a{
  padding-top: 10px;   
}

.copy{
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



/*cambio de tamaño de iconos*/
.icon{
  width: 32px;
  height: 32px;
  vertical-align: middle;
  
}




/*-------------------------*/
/*--------NAVBAR-----------*/
/*-------------------------*/

.bannerhead{
  display: block;
  margin: auto;
  width: 100%;
}

.navcont{
  background: #ffcd48;
  display: flex;
}

.navcont a{
  display: inline-block;
  padding: 20px;
  width: 100%;
  text-align: center;
  transition: .3s ease-out all;

}

.navcont a:hover{
  background: #1d2f3d;
  color: #fff;
}

@media (max-width: 768px){
  .navcont{
    flex-direction: column;
  }

  .contenedor{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
  
  grid-template-areas: "header header header"
                       "contenido contenido contenido"
                       "contenido contenido contenido"
                       "sidebar sidebar sidebar"
                       "widget-1 widget-2 widget-3"
                       "footer footer footer";
  
  }

  .footercont{
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
  
    grid-template-areas: "foot-1"
                         "foot-2"
                         "foot-4";

  }
}